* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ccc; /* cor cinza clara do fundo */
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #2c2c2c;
    background-color: #ccc;
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position:absolute ;
    top: 5px;
    left: 40px;
  }
  
  .logo img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .logo span {
    font-size: 14px;
    color: #059669;
    font-weight: bold;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d39;
  }
  
  .message-box {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    line-height: 1.6;
  }
  
  .icon {
    font-size: 2rem;
    margin-top: 20px;
  }
  